<div class="container">
  <div class="row ml-1 mr-1">
    <h1 class="col-10">Voertuigen</h1>
    <button type="button" id="add-button" class="btn btn-success col-md-2" (click)="navigateToNewVehicleComponent()">toevoegen</button>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="sortable" (click)="sortByBrand()">Merk</th>
          <th scope="col" >Model</th>
          <th scope="col">Brandstof</th>
          <th scope="col">Type motor</th>
          <th scope="col">Serie</th>
          <th scope="col">Aantal deuren</th>
          <th scope="col" class="sortable" (click)="sort('volume')">Motor capaciteit</th>
          <th scope="col" class="sortable" (click)="sort('fiscalePk')">Fiscale PK</th>
          <th scope="col" class="sortable" (click)="sort('power')">Vermogen</th>
          <th scope="col" class="sortable" (click)="sort('endData')">Levering</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles | paginate: { itemsPerPage: selectedAmount, currentPage: page }"
            (click)="navigateToVehicleDetailsComponent(vehicle.id)">
          <td scope="row">{{ vehicle.brand.name }}</td>
          <td>{{ vehicle.model.name }}</td>
          <td>{{ vehicle.fuelType.name }}</td>
          <td>{{ vehicle.motorType.name }}</td>
          <td>{{ vehicle.serie.name }}</td>
          <td>{{ vehicle.doorType.name }}</td>
          <td>{{ vehicle.volume }}</td>
          <td>{{ vehicle.fiscalePk }}</td>
          <td>{{ vehicle.power }}</td>
          <td>{{ vehicle.endData.toLocaleDateString() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="pagination col-md-3" previousLabel="Prev" nextLabel="Next" responsive="true" (pageChange)="switchPage($event)"></pagination-controls>
  <select [(ngModel)]="selectedAmount" class="custom-select col-md-2" id="amount-selector">
    <option *ngFor="let pageAmount of pageAmounts" [value]="pageAmount" >{{pageAmount}} items per page</option>
  </select>
</div>

