<div class="row mr-1">
  <h1 class="col-10">Voertuigen</h1>
  <button type="button" id="add-button" class="btn btn-success col-md-2" (click)="navigateToNewVehicleComponent()">toevoegen</button>
</div>
<div class="md-form">
  <input
    type="text"
    [(ngModel)]="searchText"
    class="form-control"
    id="search"
    (ngModelChange)="searchItems()"
    mdbInput
  />
  <label for="search">Search</label>
</div>
<div class="table-responsive">
  <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true">
    <thead class="sticky-top">
    <tr>
      <th *ngFor="let head of headNames; let i = index" class="sortable" [mdbTableSort]="vehicles" [sortBy]="headElements[i]" scope="col">
        {{head | titlecase}}
        <mdb-icon fas icon="sort"></mdb-icon>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles; let i = index" (click)="navigateToVehicleDetailsComponent(vehicle.id)">
        <!-- <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vehicle.brand.name}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vehicle.model.name}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vehicle.fuelType.name}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vehicle.engineType.name}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vehicle.doorType.name}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vehicle.volume}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vehicle.fiscalHP}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vehicle.power}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vehicle.endDateDelivery.toLocaleDateString()}}</td> -->
        <th >{{vehicle.brand.name}}</th>
        <td >{{vehicle.model.name}}</td>
        <td >{{vehicle.fuelType.name}}</td>
        <td >{{vehicle.engineType.name}}</td>
        <td >{{vehicle.doorType.name}}</td>
        <td >{{vehicle.volume}}</td>
        <td >{{vehicle.fiscalHP}}</td>
        <td >{{vehicle.enginePower == null ? 'not set': vehicle.enginePower}}</td>
        <td>{{dateToStringConverter(vehicle.endDateDelivery)}}</td>
      </tr>
    </tbody>
    <!-- <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="10">
        <mdb-table-pagination [tableEl]="tableEl" class="pagination" paginationAlign="" [searchDataSource]="vehicles"></mdb-table-pagination>
      </td>
    </tr>
    </tfoot> -->
  </table>
</div>
