<div class="row mr-1">
  <h1 class="col-10">Tankkaarten</h1>
  <button type="button" id="add-button" class="btn btn-primary col-md-2" (click)="navigateToNewFuelCardComponent()">Toevoegen</button>
</div>
<div class="md-form">
  <input
    type="text"
    [(ngModel)]="searchText"
    class="form-control"
    id="search"
    (ngModelChange)="searchItems()"
    mdbInput
  />
  <label for="search">Search</label>
</div>
<div class="table-responsive">
  <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" bordered="true">
    <caption>Lijst van alle tankkaarten</caption>
    <thead>
      <tr>
        <th *ngFor="let head of headNames; let i = index" class="sortable" [mdbTableSort]="fuelCards" [sortBy]="headElements[i]" scope="col">
          {{head | titlecase}}
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fuelCard of fuelCards"(click)="navigateToFuelCardDetailsComponent(fuelCard.id)">
      <td>{{ fuelCard.vehicle?fuelCard.vehicle.licensePlate:"" }}</td>
      <td>{{ fuelCard.driver? getFullName(fuelCard.driver.person) : "" }}</td>
      <td>{{ fuelCard.company?fuelCard.company.name:"" }}</td>
      <td>{{ fuelCard.vehicle?fuelCard.vehicle.fuelType.name:"" }}</td>
      <td>{{ fuelCard.startDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ fuelCard.endDate | date: 'dd/MM/yyyy' }}</td>
    </tr>
    </tbody>
  </table>
</div>
