<div class="row mr-1">
  <h1 class="col-10">Leveranciers</h1>
  <button type="button" id="add-button" class="btn btn-primary col-md-2" (click)="navigateToNewSupplierComponent()">Toevoegen</button>
</div>
<div class="md-form">
  <input
    type="text"
    [(ngModel)]="searchText"
    class="form-control"
    id="search"
    (ngModelChange)="searchItems()"
    mdbInput
  />
  <label for="search">Search</label>
</div>
<div class="table-responsive">
  <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" bordered="true">
    <caption>Lijst van alle leveranciers</caption>
    <thead class="sticky-top">
    <tr>
      <th *ngFor="let head of headNames; let i = index" class="sortable" [mdbTableSort]="suppliers" [sortBy]="headElements[i]" scope="col">
        {{head | titlecase}}
        <mdb-icon fas icon="sort"></mdb-icon>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers; let i = index" (click)="navigateToSupplierDetailsComponent(supplier.id)">
        <th scope="row">{{supplier.name}}</th>
        <td >
          <fa-icon [icon]="faCheck" *ngIf="supplier.active"></fa-icon>
          <fa-icon [icon]="faTimes" *ngIf="!supplier.active"></fa-icon>
        </td>
        <td >
          <fa-icon [icon]="faCheck" *ngIf="supplier.internal"></fa-icon>
          <fa-icon [icon]="faTimes" *ngIf="!supplier.internal"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
