<div class="row mr-1">
  <h1 class="col-8">Nieuw voertuig</h1>
  <button type="button" class="btn btn-secondary col-md-2"  (click)="navigateToListVehicleComponent()">Annuleer</button>
  <button type="button" class="btn btn-primary col-md-2" [disabled]="!form.valid" (click)="saveNewVehicle(form)">Opslaan</button>
</div>
<div>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6">
        <div>
          <label for="brands">Merk:</label>
          <select name="brands" id="brands" (change)="onChangedBrand($event)" formControlName="brand" class="col-md-12 browser-default custom-select">
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let item of brands" [value]="item.id">{{ item.name }}</option>
          </select><br>
        </div>
        <div>
          <label for="models">Model:</label>
          <select name="models" id="models" formControlName="model" class="col-md-12 browser-default custom-select">
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let item of models" [value]="item.id">{{ item.name }}</option>
          </select><br>
        </div>
        <div>
          <label for="series">Serie:</label>
          <select name="series" id="series" formControlName="serie" class="col-md-12 browser-default custom-select">
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let item of series" [value]="item.id">{{ item.name }}</option>
          </select><br>
        </div>
        <div>
          <label for="engineTypes">Type motor:</label>
          <select name="engineTypes" id="engineTypes" formControlName="engineType" class="col-md-12 browser-default custom-select">
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let item of engineTypes" [value]="item.id">{{ item.name }}</option>
          </select><br>
        </div>
        <div>
          <label for="doorTypes">Aantal deuren:</label>
          <select name="doorTypes" id="doorTypes" formControlName="doorType" class="col-md-12 browser-default custom-select">
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let item of doorTypes" [value]="item.id">{{ item.name }}</option>
          </select><br>
        </div>
        <div>
          <label for="fuelTypes">Type brandstof:</label>
          <select name="fuelTypes" id="fuelTypes" formControlName="fuelType" class="col-md-12 browser-default custom-select">
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let item of fuelTypes" [value]="item.id">{{ item.name }}</option>
          </select><br>
        </div>
        <div>
          <label for="categories">Categorie:</label>
          <select name="categories" id="categories" formControlName="category" class="col-md-12 browser-default custom-select">
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let item of categories" [value]="item.id">{{ item.name }}</option>
          </select><br>
        </div>
        <div>
          <label for="countries">Land:</label>
          <select name="countries" id="countries" formControlName="country" class="col-md-12 browser-default custom-select">
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let item of countries" [value]="item.id">{{ item.name }}</option>
          </select><br>
        </div>
        <div>
          <label for="kilometers">Kilometers:</label>
          <input type="number" id="kilometers" min="0" formControlName="kilometers" class="col-md-12 browser-default form-control">
        </div>
        <div>
          <label for="interiorColors">Kleur Interieur:</label>
          <select name="interiorColors" id="interiorColors" formControlName="interiorColor" class="col-md-12 browser-default custom-select">
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let item of interiorColors" [value]="item.id">{{ item.name }}</option>
          </select><br>
          <span *ngIf="form.get('interiorColor').touched && form.get('interiorColor').hasError('required')" class="alert-danger errorMessage">Vul een kleur interieur in!</span>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <label for="volume">Volume:</label>
          <input type="number" id="volume" min="0" formControlName="volume" class="col-md-12 browser-default form-control">
        </div>
        <div>
          <label for="engineCapacity">Motor CC:</label>
          <input type="number" id="engineCapacity" min="0" formControlName="engineCapacity" class="col-md-12 browser-default form-control">
        </div>
        <div>
          <label for="enginePower">Vermogen PK:</label>
          <input type="number" id="enginePower" min="0" formControlName="enginePower" class="col-md-12 browser-default form-control">
        </div>
        <div>
          <label for="fiscalHP">Fiscale PK:</label>
          <input type="number" id="fiscalHP" min="0" formControlName="fiscalHP" class="col-md-12 browser-default form-control">
        </div>
        <div>
          <label for="emission">Emissie (g/km):</label>
          <input type="number" id="emission" min="0" formControlName="emission" class="col-md-12 browser-default form-control">
        </div>
        <div>
          <label for="endDate">Afleveringsdatum:</label>
          <input type="date" id="endDate" formControlName="endDate" class="col-md-12 browser-default form-control">
        </div>
        <div>
          <label for="licensePlate">Nummerplaat:</label>
          <input type="text" id="licensePlate" formControlName="licensePlate" class="col-md-12 browser-default form-control">
        </div>
        <div>
          <label for="chassis">Chassis:</label>
          <input type="text" id="chassis" formControlName="chassis" class="col-md-12 browser-default form-control">
        </div>
        <div>
          <label for="buildYear">Bouw Jaar:</label>
          <input type="number" id="buildYear" min="0" formControlName="buildYear" class="col-md-12 browser-default form-control">
          <span *ngIf="form.get('buildYear').touched && form.get('buildYear').hasError('required')" class="alert-danger errorMessage">Vul een buildYear in!</span>
        </div>
        <div>
          <label for="exteriorColors">Kleur Exterieur:</label>
          <select name="exteriorColors" id="exteriorColors" formControlName="exteriorColor" class="col-md-12 browser-default custom-select">
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let item of exteriorColors" [value]="item.id">{{ item.name }}</option>
          </select><br>
        </div>
      </div>
    </div>
  </form>
</div>
