<div class="container">
  <h1 class="col-4">Details voertuig</h1>
  <div class="row ml-1 mr-1">
    <button type="button" class="btn btn-secondary col-md-2" [disabled]="isEditable" (click)="navigateToListRecordComponent()">Terug</button>
    <button type="button" class="btn btn-success ml-auto col-md-2" (click)="saveEditVehicle(form)">
      <span>{{ isEditable ? 'Opslaan' : 'Bewerken' }}</span>
    </button>
    <button type="button" class="btn btn-danger col-md-2" *ngIf="isEditable" (click)="cancel()">Annuleer</button>
  </div>
  <div>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
      </div>
    </form>
  </div>
  <div>
    <br>
    <button type="button" class="btn btn-danger ml-auto col-md-2" (click)="deleteVehicle()">Verwijder</button>
  </div>
</div>
