<div class="container">
  <h1 class="col-4">Details voertuig</h1>
  <div class="row ml-1 mr-1">
    <button type="button" class="btn btn-secondary col-md-2" [disabled]="isEditable" (click)="navigateToListRecordComponent()">Terug</button>
    <button type="button" class="btn btn-success ml-auto col-md-2" (click)="saveEditVehicle(form)">
      <span>{{ isEditable ? 'Opslaan' : 'Bewerken' }}</span>
    </button>
    <button type="button" class="btn btn-danger col-md-2" *ngIf="isEditable" (click)="cancel()">Annuleer</button>
  </div>
  <div>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-6">
          <div>
            <label for="types">Type:</label>
            <select name="types" id="types" formControlName="type" class="col-md-12 browser-default custom-select">
              <option [ngValue]="null" disabled>-</option>
              <option *ngFor="let item of termKeys" [value]="terms[item]">{{ terms[item] }}</option>
            </select><br>
          </div>
          <div>
            <label for="licensePlate">Nummerplaat:</label>
            <input type="text" id="licensePlate" formControlName="licensePlate" class="col-md-12 browser-default custom-select">
          </div>
          <div>
            <label for="chassis">Chassisnummer:</label>
            <input type="text" id="chassis" formControlName="chassis" class="col-md-12 browser-default custom-select">
          </div>
          <div>
            <label for="registrationDate">Eerste registratie:</label>
            <input type="date" id="registrationDate" formControlName="registrationDate" class="col-md-12 browser-default custom-select">
          </div>
          <div>
            <label for="countries">Land:</label>
            <select name="countries" id="countries" formControlName="country" class="col-md-12 browser-default custom-select">
              <option [ngValue]="null" disabled>-</option>
              <option *ngFor="let item of countries" [value]="item.id">{{ item.name }}</option>
            </select><br>
          </div>
          <div>
            <label for="startDate">StartDatum:</label>
            <input type="Date" id="startDate" formControlName="startDate" class="col-md-12 browser-default custom-select">
          </div>
          <div>
            <label for="corporations">Vennootschap:</label>
            <select name="corporations" id="corporations" formControlName="corporation" class="col-md-12 browser-default custom-select">
              <option [ngValue]="null" disabled>-</option>
              <option *ngFor="let item of corporations" [value]="item.id">{{ item.name }}</option>
            </select><br>
          </div>
          <div>
            <label for="costAllocations">Kostenplaats:</label>
            <select name="costAllocations" id="costAllocations" formControlName="costAllocation" class="col-md-12 browser-default custom-select">
              <option [ngValue]="null" disabled>-</option>
              <option *ngFor="let item of costAllocations" [value]="item.id">{{ item.name }}</option>
            </select><br>
          </div>
          <div>
            <label for="fuelCards">Tankkaart:</label>
            <select name="fuelCards" id="fuelCards" formControlName="fuelCard" class="col-md-12 browser-default custom-select">
              <option [ngValue]="null" disabled>-</option>
              <option *ngFor="let item of fuelCards" [value]="item.id">{{ item.fuelCardNumber }}</option>
            </select><br>
          </div>
          <div>
            <label for="usages">Gebruik:</label>
            <select name="usages" id="usages" formControlName="usage" class="col-md-12 browser-default custom-select">
              <option [ngValue]="null" disabled>-</option>
              <option *ngFor="let item of usageKeys" [value]="usages[item]">{{ usages[item] }}</option>
            </select><br>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="brands">Merk:</label>
            <select name="brands" id="brands" formControlName="brand" class="col-md-12 browser-default custom-select">
              <option [ngValue]="null" disabled>-</option>
              <option *ngFor="let item of brands" [value]="item.id">{{ item.name }}</option>
            </select><br>
          </div>
          <div>
            <label for="fuelTypes">Brandstof Type:</label>
            <select name="fuelTypes" id="fuelTypes" formControlName="fuelType" class="col-md-12 browser-default custom-select">
              <option [ngValue]="null" disabled>-</option>
              <option *ngFor="let item of fuelTypes" [value]="item.id">{{ item.name }}</option>
            </select><br>
          </div>
          <div>
            <label for="models">Model:</label>
            <select name="models" id="models" formControlName="model" class="col-md-12 browser-default custom-select">
              <option [ngValue]="null" disabled>-</option>
              <option *ngFor="let item of models" [value]="item.id">{{ item.name }}</option>
            </select><br>
          </div>
          <div>
            <label for="vehicles">Voertuig:</label>
            <select name="vehicles" id="vehicles" formControlName="vehicle" class="col-md-12 browser-default custom-select">
              <option [ngValue]="null" disabled>-</option>
              <option *ngFor="let item of vehicles" [value]="item.id">{{ item.serie.name }} {{ item.doorType.name }}</option>
            </select><br>
          </div>
          <div>
            <label for="buildYear">Bouwjaar:</label>
            <input type="text" id="buildYear" formControlName="buildYear" class="col-md-12 browser-default custom-select">
          </div>
          <div>
            <label for="kilometers">Kilometers:</label>
            <input type="text" id="kilometers" formControlName="kilometers" class="col-md-12 browser-default custom-select">
          </div>
          <div>
            <label for="exteriorColor">Kleur exterieur:</label>
            <input type="text" id="exteriorColor" formControlName="interiorColor" class="col-md-12 browser-default custom-select">
          </div>
          <div>
            <label for="interiorColor">Kleur interieur:</label>
            <input type="text" id="interiorColor" formControlName="interiorColor" class="col-md-12 browser-default custom-select">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div>
    <br>
    <button type="button" class="btn btn-danger ml-auto col-md-2" (click)="deleteVehicle()">Verwijder</button>
  </div>
</div>
