
<div class="row mr-1">
  <h1 class="col-10">Dossiers</h1>
  <button type="button" id="add-button" class="btn btn-primary col-md-2" (click)="navigateToNewRecordComponent()">Toevoegen</button>
</div>
<div class="md-form">
  <input
    type="text"
    [(ngModel)]="searchText"
    class="form-control"
    id="search"
    (ngModelChange)="searchItems()"
    mdbInput
  />
  <label for="search">Search</label>
</div>
<div class="table-responsive">
  <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" bordered="true">
    <caption>Lijst van alle dossiers</caption>
      <thead class="sticky-top">
        <tr>
            <th *ngFor="let head of headNames; let i = index" class="sortable" [mdbTableSort]="records" [sortBy]="headElements[i]" scope="col">
              {{head | titlecase}}
              <mdb-icon fas icon="sort"></mdb-icon>
            </th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records; let i = index" (click)="navigateToRecordDetailsComponent(record.id)">
        <td>{{ record.fuelCard?.vehicle.licensePlate }}</td>
        <td>{{ record.fuelCard?.driver.person.firstname }} {{ record.fuelCard?.driver.person.lastname }}</td>
        <td>{{ record.corporation == null ? '': record.corporation.name }}</td>
        <td>{{ record.costAllocation == null ? '': record.costAllocation.name }}</td>
        <td>{{ record.fuelCard?.vehicle.brand.name }}</td>
        <td>{{ record.fuelCard?.vehicle.model.name }}</td>
        <td>{{ record.usage }}</td>
        <td>{{ record.fuelCard?.vehicle.fuelType.name }}</td>
        <td>{{ record.fuelCard?.vehicle.registrationDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ record.endDate | date:'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>

