<div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Notificaties</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of recordsExpiredWithinFiveDays" (click)="navigateToRecordDetailsComponent(record.id)">
        <td style="color:red">{{ getStringFormatOfRecord(record) }}</td>
      </tr>
      <tr *ngFor="let vehicle of vehiclesExpiredWithinFiveDays" (click)="navigateToVehicleDetailsComponent(vehicle.id)">
        <td style="color:red">{{ getStringFormatOfVehicle(vehicle) }}</td>
      </tr>

      <tr *ngFor="let record of recordsExpiredWithinTenDays" (click)="navigateToRecordDetailsComponent(record.id)">
        <td style="color:orange">{{ getStringFormatOfRecord(record) }}</td>
      </tr>
      <tr *ngFor="let vehicle of vehiclesExpiredWithinTenDays" (click)="navigateToVehicleDetailsComponent(vehicle.id)">
        <td style="color:orange">{{ getStringFormatOfVehicle(vehicle) }}</td>
      </tr>
    </tbody>
  </table>
</div>
